#guestbookAdd {
  padding:15px;
  width:550px;
  margin:10px auto 25px auto;
  border-radius:5px;
  border:1px solid #555;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.25);
  overflow:hidden;
}

#guestbookAdd h4 {
  margin:0;
  cursor:pointer;
  text-align:center;
  font-size:13px;
}
  

.contact table {
  width:100%;
  text-align:left;
}
  .contact table td {
    width:50%;
    text-align:left;
  }
.contact label {
  font-weight:bold;
  display:block;
}
.contact input[type="text"], .contact textarea, .contact select {
  border-radius:2px;
  padding:3px;
}
.contact textarea {
  width:535px;
}
.contact input[type="text"] {
  width:260px;
}


.LV_validation_message{
  display:block;
  font-weight:bold;
  margin:0 0 0 5px;
}
.LV_valid {
   display:none;
}
.LV_invalid {
  color:#cc0000;
}
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
  border: 1px solid #cc0000;
}


p.comment_count {
  text-align:center;
  font-style:italic;
  font-weight:bold;
  font-size:1.1em;
}

.commentElement p {
  text-align:left;
  margin-bottom:0.5em;
  margin-top:0.5em;
}

.commentElement {
  padding:0 !important;
  list-style:none;
  text-align:left;
  border:1px solid #555;
  border-radius:5px;
  margin:5px;
  overflow:hidden;
}
  .commentElement .description {
    padding:7px !important;
    min-height:0;
  }
  .commentHeader  {
    background:rgba(127,127,127,0.5);
    margin:-7px;
    margin-bottom:0;
    padding:6px;
    color:#ddd;
    border-radius:5px 5px 0 0;
  }
  .commentAuthor {
    font-size:1.1em;
  }
  .commentDate {
    font-size:0.9em;
  }
  .commentHeader a {
    color:#FFE093;
  }