#guestbookAdd {
  background: #ccc;
  background: -moz-linear-gradient(top, #ccc 0%, #bbb 100%);
  background: -webkit-linear-gradient(top, #ccc 0%, #bbb 100%);
  background: -o-linear-gradient(top, #ccc 0%, #bbb 100%);
  background: -ms-linear-gradient(top, #ccc 0%, #bbb 100%);
  background: linear-gradient(top, #ccc 0%, #bbb 100%);
  border-color:#eee;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.20);
  color:#444;
}

#guestbookAdd h4:hover {
  color:#111;
}

.commentHeader  {
  background:#ccc;
  color:#444;
}

.commentHeader a {
  color:#005E89;
}